name: CI

on:
   push:
      branches: [ main ]
   pull_request:
      branches: [ main ]

jobs:
  test:
      runs-on: ubuntu-latest
      
      steps:
        - uses: actions/checkout@v3
        
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
              python-version: '3.10'
              
        - name: Install dependecies
          run: |
            python -m pip install --upgrade pip
            pip install uv
            uv pip install torch torchvision torchaudio --index https://download.pytorch.org/whl/cu118
            uv pip install -r requirements.txt
            uv pip install pytest pytest-cov
            
        - name: Install NLTK stopwords
          run: |
              python -m nltk.downloader punkt
              python -m nltk.downloader stopwords
            
        - name: Run tests
          run: |
            pytest tests/ -v --cov=src --cov-report=term-missing
          
        - name: Validate tests coverage
          run: |
            pytest tests/ --cov=src --cov-fail-under=100
